.style1{
    background-color: blueviolet;
}

.style2{
    background-color: aquamarine;
}

.style3{
    background-color: rgb(255, 127, 197);
    border: 2px;
}

.style4{
    background-color: rgb(22, 204, 143);
}