<p>haiiiiiiiiiii</p>


<!-- intercollation -->
<p>{{user}}</p>
<p>{{name}}</p>

<!-- property binding -->
<input type="text" [value]="name"><br>

<!-- event binding -->
<input type="'text" name="name" id="n" #uname>
<button (click)="show(uname.value)">click</button>


<!-- imgcase -->
<img src="assets/image/flower.jpeg">
<img  [src]="img">

<!-- two way binding -->
<input type="text" name="" id="" [(ngModel)]="myname">
<button (click)="display()">click</button>
<p>{{myname}}</p>

<!-- <input type="text" name="" id="" ([ngModel)]="username">
<input type="text" name="" id="" ([ngModel)]="password">
<p>{{username}}{{password}}</p> -->

<!-- <input type="text" name="" id="" [(ngModel)]="name1">
<input type="text" name="" id="" [(ngModel)]="age">
<input type="text" name="" id="" [(ngModel)]="course">
<p>{{name1}} </p> -->


<!-- attribute styling -->

<div [ngStyle]="{'color':'red'}">welcome</div>
<div [ngStyle]="{'color':'red','background-color':'yellow'}">welcome</div>

<div [ngClass]="'style1'">welcome</div>

<div [ngClass]="value1">wel</div>

<div [ngClass]="[value2,value3]">welcome</div>


<!-- structural directives -->
<ul  *ngFor="let s of  a; even as e; odd as o; first as f;last as l;index as i;">
    <li>{{s}} {{e}} {{o}} {{f}} {{l}} {{i}}</li>
</ul>

<!-- <div *ngIf="data; else elsedata" >welcome</div>
<ng-template  #elsedata>this is else case</ng-template> -->

<div *ngIf="data;then truecase else falsecase"></div>
<ng-template #truecase>this is truecase</ng-template>
<ng-template #falsecase>this is falsecase</ng-template>


<div *ngFor="let s of num">
    <div *ngIf="s%2==0;">{{s}}</div>
</div><br>

<div *ngFor="let s of num1">
    <li *ngIf="s>0;">{{s}}</li>
</div>


<div *ngFor="let s of fruits;index as i;">
   <li>{{i+1}} {{s}}</li>
</div>

<div *ngFor="let s of person;">
    <li>name:{{s.name}} course:{{s.course}} age:{{s.age}}</li>
 </div>
 
       <!-- switch -->
<div [ngSwitch]="day">
    <div  *ngSwitchCase="1">mon</div>
    <div  *ngSwitchCase="2">tue</div>
    <div  *ngSwitchCase="3">wed</div>
    <div  *ngSwitchCase="4">thu</div>
    <div  *ngSwitchCase="5">fri</div>
    <div  *ngSwitchCase="6">sat</div>
    <div  *ngSwitchCase="7">sun</div>

</div>
