<p>pipe works!</p>


<p>{{obj1|json}}</p>
<p>{{obj1.name|json}}</p>
<p>{{obj1.name|uppercase}}</p>
<p>{{obj1.name|lowercase}}</p>
<p>{{obj1.name|titlecase}}</p>
<p>{{obj1.salary}}</p>
<p>{{obj1.salary|currency}}</p>
<p>{{obj1.salary|currency:"INR"}}</p>
<p>{{obj1.salary|currency:"INR":'code'}}</p>
<p>{{obj1.job}}</p>
<p>{{obj1.dob|date}}</p>
<p>{{obj1.dob|date:"MM"}}</p>
<p>{{obj1.dob|date:"MMMM"}}</p>
<p>{{obj1.dob|date:"dd"}}</p>
<p>{{obj1.dob|date:"yy"}}</p>
<p>{{obj1.dob|date:"yyyy"}}</p>
<p>{{obj1.dob|date:"MMMM"|uppercase}}</p>





<p>{{obj1.name|pipe1:obj1.salary:obj1.dob}}</p>









