<p>calculator works!</p>


<label>Enter NO:</label>
<input type="number" name="number" id="number" [(ngModel)]="first"><br><br>
<label>Enter NO:</label>
<input type="number" name="number" id="number" [(ngModel)]="second"><br><br>
<div>
    <button (click)="add()">Add</button>
    <button (click)="sub()">Sub</button>
    <button (click)="mul()">Mul</button>
    <button (click)="div()">Div</button><br>
    <label>Result:{{re}}</label>

    
</div>
     













































































